MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.wtbfygo.mongodb.net/<databasename>?appName=Cluster0
NODE_ENV=development
PORT=8080
NODE_ENV=development
PORT=
JWT_SECRET=
JWT_EXPIRES_IN=7d
CORS_ORIGIN=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
SEPAY_API_KEY=
SEPAY_WEBHOOK_SECRET=
SEPAY_BANK_BIN=
SEPAY_BANK_ACCOUNT=
SEPAY_BANK_ACCOUNT_NAME=
GEOAPIFY_API_KEY=